  <script type="text/javascript" src="jquery-3.3.1.slim.min.js"></script>
   <footer>
        <div class="container footer-middle" style="align-content: center;">
            <div class="row">
                <div class="col-md-12 footer-link1">
                    <a class="logo-light" target="_blank" href="https://kossiitkgp.org"><img alt="" src="/static/images/kosslogo.png" class="logo" style="height: 60px;" /></a>
                    <h5>About WIP</h5>
                    <p class="footer-text">We are a group of enthusiasts who focus on something more
                        preliminary and relevant "A Love for Coding".
                    </p>
                </div>
            </div>
            <div class="logo">
                <span class="symbols"><a href="#"><i class="fa fa-github" style='font-size:36px'></i></a></span>
                <span class="symbols"><a href="#"><i class="fa fa-facebook" style='font-size:36px'></i></a></span>
            </div>
        </div>
    </footer>
  </body>
</html>
